// main: ../css/style.less

.container {
    width: 100%;
    max-width: 1270px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
}

.container_intro {
    width: 100%;
    height: 100%;
}
