// main: ../css/style.less

.features {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.features__item {
		margin: 0 18px;
		width: 265px;
		margin-bottom: 21px;
		display: flex;
		align-items: center;

		.features__image {
			margin: 0 26px;
		}
	}
}

@media (max-width: 770px) {
	.features {
		.features__item {
			width: 235px;
			margin: 0 10px;
		}
	}
}

@media (max-width: 575px) {
	.features {
		.features__item {
			width: 265px;
		}
	}
}

@media (max-width: 280px) {
	.features {
		.features__item {
			margin: 0;

			.features__image {
				margin: 0 20px;
			}
		}
	}
}