// main: ../css/style.less

.inspirations {
    display: flex;
    align-items:center;
    height: 100%;
    position: relative;
}

.inspirations__item {
    width: 35%;
}

.inspirations__text {
    width: 75%;
}